$font-family: 'Nunito Sans', sans-serif;

@use 'vuetify' with (
  $body-font-family: $font-family,
  $heading-font-family: $font-family,
  $typography: (
    // 32px size
    'h1': (
      'size': 2rem,
      'weight': 500,
      'line-height': '120%',
      'font-family': $font-family
    ),
    // 28px size
    'h2': (
      'size': 1.75rem,
      'weight': 600,
      'line-height': '150%',
      'font-family': $font-family
    ),
    // 20px size
    'h3': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': '120%',
      'font-family': $font-family
    ),
    // 18px size
    'h4': (
      'size': 1.125rem,
      'weight': 600,
      'line-height': '140%',
      'font-family': $font-family
    ),
    // 14px size
    'h5': (
      'size': 0.875rem,
      'weight': 600,
      'line-height': '140%',
      'font-family': $font-family
    ),
    // 12px size
    'h6': (
      'size': 0.75rem,
      'weight': 600,
      'line-height': '150%',
      'font-family': $font-family
    ),
    // 16px size
    'subtitle-1': (
      'size': 1rem,
      'weight': 600,
      'line-height': '120%',
      'font-family': $font-family
    ),
    // 14px size
    'subtitle-2': (
      'size': 0.875rem,
      'weight': 600,
      'line-height': '140%',
      'font-family': $font-family
    ),
    // 16px size
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': '160%',
      'font-family': $font-family
    ),
    // 14px size
    'body-2': (
      'size': 0.875rem,
      'weight': 400,
      'line-height': '170%',
      'font-family': $font-family
    ),
    // 16px size
    'button': (
      'size': 1rem,
      'weight': 600,
      'line-height': '120%',
      'font-family': $font-family
    ),
    // 12px size
    'caption': (
      'size': 0.75rem,
      'weight': 600,
      'line-height': '120%',
      'font-family': $font-family
    ),
    // 12px size
    'overline': (
      'size': 0.75rem,
      'weight': 500,
      'line-height': '120%',
      'font-family': $font-family
    )
  )
);

//.v-select__content {
//  position: fixed;
//}
